<div id="<%= dom_id boxer %>"> <%= boxer.id %> <%= boxer.name %> <%= boxer.nationality %> <%= boxer.attack_points %> <%= boxer.olympic_year %> <%= boxer.attack_points %> <%= boxer.defense_points %>
</div>
